
<div class="al1">
    &nbsp;&nbsp;
    <button id="id2"  (click)="toWatchlist()">watchlist</button>
    <button id="id2"  (click)="toOrders()">Orders</button>
    <button id="id2" (click)="toPortfolio()">portfolio</button>
    <button id="id2" (click)="toFunds()" style="background-color: gray;">funds</button>
    <button id="id2" (click)="toLogout()">Logout</button>
    <br><br>
</div>
    <div id="id4"><br>

    Available to trade:<br>
    <br><br>
    Used Funds:<br><br>
    <br>Total funds:<br><br>
    <button style="width: 400px; height: 50px; background-color: gray; border-color: gray ; border-bottom: gray; border-right: gray; color:black;" id="id2">Withdraw Funds</button><br>
    <button style="width: 400px; height: 50px; background-color: gray; border-color: gray ; border-bottom: gray; border-right: gray; border-radius: 5px; color:black;" id="id2">View payment History</button>
</div>
