<div class="al1">
     <button id="id2"  (click)="toWatchlist()">watchlist</button>
    <button id="id2"  (click)="toOrders()">Orders</button>
    <button id="id2" (click)="toPortfolio()" style="background-color: gray;">portfolio</button>
    <button id="id2" (click)="toFunds()">funds</button>
    <button id="id2" (click)="toLogout()">Logout</button>
    
        <br><br>

<section>
    <div id="id5">
        <h2 style="font-family: sans-serif; " >
        POSITIONS</h2>
    </div>
    <div id="id6"><h2 style="font-family: sans-serif; " >HOLDINGS</h2>
    </div>	</section></div>
    