<div class="al1">
     <button id="id2"  (click)="toWatchlist()">watchlist</button>
    <button id="id2"  (click)="toOrders()" style="background-color: gray;">Orders</button>
    <button id="id2" (click)="toPortfolio()">portfolio</button>
    <button id="id2" (click)="toFunds()">funds</button>
    <button id="id2" (click)="toLogout()">Logout</button>
     
        
	<br><br>

	<div >
		<button id="id7">OPEN</button>
		<button id="id7">CLOSED</button>
	</div></div>
	<hr style="margin-top:0px;">
	
    
