<div class="div2"> 
    <form>
        <br>
        <h1>Signup Form</h1>
        <div>
            <input type="text" class="l1" placeholder="Username" required >
        </div>
        <br>
        <div>
            <input type="text" class="l1" placeholder="Password">
        </div>
        <br>
        <div>
            <input type="text" class="l1" placeholder="Email">
        </div>
        <br>
        <div>
            <input type="text" class="l1" placeholder="Mobileno">
        </div>
        <br>
        <div>
            <button (click)="toLogin()">Signup</button>
        </div>
    </form>
</div>