
                <div class="al1">
                    &nbsp;&nbsp;
                    <button id="id2" (click)="toWatchlist()" style="background-color: gray;">watchlist</button>
                    <button id="id2" (click)="toOrders()">Orders</button>
                    <button id="id2" (click)="toPortfolio()">portfolio</button>
                    <button id="id2" (click)="toFunds()">funds</button>
                    <button id="id2" (click)="toLogout()">Logout</button>
                    <br><br>


</div>

                    <h1>After login component works</h1>
                
                